[Unit]
Description=Kibana
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple
User=kibana
Group=kibana

ExecStart={{install_path}}/kibana/bin/kibana "-c {{install_path}}/kibana/config/kibana.yml"
Restart=always
WorkingDirectory={{install_path}}/kibana

[Install]
WantedBy=multi-user.target

